@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.tiptap.ProseMirror {
  font-family: inherit;
  outline: none !important;
  color: inherit;
}

.simple-editor-wrapper {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Ensure the toolbar blends beautifully */
.tiptap-toolbar {
  border-radius: 0.75rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid var(--border) !important;
  margin-bottom: 1rem;
  box-shadow: none;
}

.simple-editor-content {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  flex: 1;
  overflow-y: auto;
  padding: 1rem 1rem 30vh 1rem;
  font-size: 1.125rem;
  line-height: 1.75;
}

/* Basic Tiptap overrides for cleaner typography */
.tiptap p.is-editor-empty:first-child::before {
  color: #a1a1aa;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}